In [29]:
# Imports
import pandas as pd
from datetime import datetime
from google.colab import files

In [2]:
# Read the CSV files and make them into dataframes
bitcoin_df = pd.read_csv("bitcoin_data.csv")
reddit_df = pd.read_csv("reddit_bitcoin_posts_sentiment.csv")

In [3]:
bitcoin_df

,Date,Open,High,Low,Close,Volume,Market Cap
0,Jan-31-2022,38465.162375,39210.262027,38103.138300,38761.968300,5.606411e+10,7.303744e+11
1,Jan-30-2022,37913.239500,38669.258900,36692.124972,38472.006236,5.554980e+10,7.113510e+11
2,Jan-29-2022,38161.929090,38287.754600,37412.248098,37937.339000,3.479342e+10,7.187560e+11
3,Jan-28-2022,37741.928400,38577.996300,37369.209771,38131.823600,4.335900e+10,7.161947e+11
4,Jan-27-2022,37062.964425,37929.944800,36168.927191,37784.722900,5.773464e+10,7.015914e+11
...,...,...,...,...,...,...,...
361,Feb-04-2021,36977.782665,38280.062918,36634.285663,37945.964474,1.001826e+11,6.995421e+11
362,Feb-03-2021,37659.040572,38734.575564,36321.734428,36938.034865,9.505056e+10,6.983574e+11
363,Feb-02-2021,35476.141807,37565.357809,35476.141807,37551.934351,8.935275e+10,6.800922e+11
364,Feb-01-2021,33536.478066,35943.342299,33536.478066,35507.127709,8.675868e+10,6.455592e+11
365,Jan-31-2021,33082.843766,34599.997674,32402.294129,33513.441196,8.977457e+10,6.271695e+11

In [4]:
reddit_df

,timestamp,reddit_flair,reddit_tb_polarity,reddit_tb_subjectivity,reddit_sid_pos,reddit_sid_neg,reddit_sid_neu,reddit_sid_com
0,1/31/2021 23:59,0.9578,0.000000,0.000000,0.000,0.000,1.000,0.0000
1,1/31/2021 23:52,-0.8868,0.000000,0.000000,0.000,0.000,1.000,0.0000
2,1/31/2021 23:44,0.6548,0.450000,0.550000,0.130,0.000,0.870,0.3400
3,1/31/2021 23:44,-0.9992,0.166190,0.530952,0.198,0.000,0.802,0.9804
4,1/31/2021 23:40,-0.9818,0.000000,0.000000,0.000,0.000,1.000,0.0000
...,...,...,...,...,...,...,...,...
35806,1/31/2022 2:18,-0.9907,-0.156250,0.375000,0.000,0.000,1.000,0.0000
35807,1/31/2022 1:03,-0.8688,0.030516,0.470847,0.107,0.079,0.814,0.9302
35808,1/31/2022 0:43,-0.9995,0.200000,0.500000,0.333,0.000,0.667,0.3612
35809,1/31/2022 0:10,-0.9847,-0.135000,0.472500,0.076,0.139,0.785,-0.2732
35810,1/31/2022 0:04,-1.0000,-0.026104,0.460130,0.124,0.055,0.821,0.6331

In [5]:
# Transform the timestamps from the reddit file into dates
# Convert the timestamp column to a datetime object and extract the date portion
reddit_df['date'] = pd.to_datetime(reddit_df['timestamp']).dt.date.astype(str)

# Remove the original timestamp column
reddit_df = reddit_df.drop('timestamp', axis=1)

# Reorder the columns so that 'date' is the first column
reddit_df = reddit_df[['date'] + [col for col in reddit_df.columns if col != 'date']]

reddit_df = reddit_df.set_index('date')

# Sort the DataFrame by the date index in descending order
reddit_df = reddit_df.sort_index(ascending=False)

reddit_df.tail()

,reddit_flair,reddit_tb_polarity,reddit_tb_subjectivity,reddit_sid_pos,reddit_sid_neg,reddit_sid_neu,reddit_sid_com
date,,,,,,,
2021-01-31,-0.9914,0.0000,0.300000,0.000,0.252,0.748,-0.4019
2021-01-31,-1.0000,-0.2600,0.530000,0.072,0.126,0.803,-0.5941
2021-01-31,-1.0000,0.1100,0.480000,0.106,0.137,0.757,-0.2374
2021-01-31,-0.9999,0.0927,0.442729,0.100,0.000,0.900,0.7476
2021-01-31,0.9578,0.0000,0.000000,0.000,0.000,1.000,0.0000

In [6]:
bitcoin_df

,Date,Open,High,Low,Close,Volume,Market Cap
0,Jan-31-2022,38465.162375,39210.262027,38103.138300,38761.968300,5.606411e+10,7.303744e+11
1,Jan-30-2022,37913.239500,38669.258900,36692.124972,38472.006236,5.554980e+10,7.113510e+11
2,Jan-29-2022,38161.929090,38287.754600,37412.248098,37937.339000,3.479342e+10,7.187560e+11
3,Jan-28-2022,37741.928400,38577.996300,37369.209771,38131.823600,4.335900e+10,7.161947e+11
4,Jan-27-2022,37062.964425,37929.944800,36168.927191,37784.722900,5.773464e+10,7.015914e+11
...,...,...,...,...,...,...,...
361,Feb-04-2021,36977.782665,38280.062918,36634.285663,37945.964474,1.001826e+11,6.995421e+11
362,Feb-03-2021,37659.040572,38734.575564,36321.734428,36938.034865,9.505056e+10,6.983574e+11
363,Feb-02-2021,35476.141807,37565.357809,35476.141807,37551.934351,8.935275e+10,6.800922e+11
364,Feb-01-2021,33536.478066,35943.342299,33536.478066,35507.127709,8.675868e+10,6.455592e+11
365,Jan-31-2021,33082.843766,34599.997674,32402.294129,33513.441196,8.977457e+10,6.271695e+11

In [7]:
# Now transform the timestamp for the bitcoin_df

# convert the date column to datetime format
bitcoin_df['Date'] = pd.to_datetime(bitcoin_df['Date'], format='%b-%d-%Y')

# extract the year, month, and day components of the date and reformat into the desired string format
bitcoin_df['Date'] = bitcoin_df['Date'].apply(lambda x: x.strftime('%Y-%m-%d'))

# Rename the column
bitcoin_df.rename(columns={'Date': 'date'}, inplace=True)

bitcoin_df = bitcoin_df.set_index('date')

# Sort the DataFrame by the date index in descending order
bitcoin_df = bitcoin_df.sort_index(ascending=False)

,Open,High,Low,Close,Volume,Market Cap
date,,,,,,
2022-01-31,38465.162375,39210.262027,38103.138300,38761.968300,5.606411e+10,7.303744e+11
2022-01-30,37913.239500,38669.258900,36692.124972,38472.006236,5.554980e+10,7.113510e+11
2022-01-29,38161.929090,38287.754600,37412.248098,37937.339000,3.479342e+10,7.187560e+11
2022-01-28,37741.928400,38577.996300,37369.209771,38131.823600,4.335900e+10,7.161947e+11
2022-01-27,37062.964425,37929.944800,36168.927191,37784.722900,5.773464e+10,7.015914e+11
...,...,...,...,...,...,...
2021-02-04,36977.782665,38280.062918,36634.285663,37945.964474,1.001826e+11,6.995421e+11
2021-02-03,37659.040572,38734.575564,36321.734428,36938.034865,9.505056e+10,6.983574e+11
2021-02-02,35476.141807,37565.357809,35476.141807,37551.934351,8.935275e+10,6.800922e+11
2021-02-01,33536.478066,35943.342299,33536.478066,35507.127709,8.675868e+10,6.455592e+11
2021-01-31,33082.843766,34599.997674,32402.294129,33513.441196,8.977457e+10,6.271695e+11

In [16]:
bitcoin_df.tail()

,Open,High,Low,Close,Volume,Market Cap
date,,,,,,
2021-02-04,36977.782665,38280.062918,36634.285663,37945.964474,1.001826e+11,6.995421e+11
2021-02-03,37659.040572,38734.575564,36321.734428,36938.034865,9.505056e+10,6.983574e+11
2021-02-02,35476.141807,37565.357809,35476.141807,37551.934351,8.935275e+10,6.800922e+11
2021-02-01,33536.478066,35943.342299,33536.478066,35507.127709,8.675868e+10,6.455592e+11
2021-01-31,33082.843766,34599.997674,32402.294129,33513.441196,8.977457e+10,6.271695e+11

In [10]:
reddit_df.head()

,reddit_flair,reddit_tb_polarity,reddit_tb_subjectivity,reddit_sid_pos,reddit_sid_neg,reddit_sid_neu,reddit_sid_com
date,,,,,,,
2022-01-31,-1.0000,-0.026104,0.460130,0.124,0.055,0.821,0.6331
2022-01-31,-0.9989,0.000000,0.000000,0.000,0.375,0.625,-0.3400
2022-01-31,0.9900,0.200000,0.750000,0.041,0.027,0.932,0.1556
2022-01-31,-0.9996,0.000000,0.000000,0.000,0.000,1.000,0.0000
2022-01-31,-0.9995,0.067361,0.515972,0.111,0.083,0.806,0.4678

In [12]:
# Group the data togheter for the same date and make a average of the values
# Doing this we can group the reddit data with the bitcoin one so we can feed it
# to the model
reddit_df_grouped = reddit_df.groupby('date').agg(lambda x: x.mean())

In [17]:
reddit_df_grouped.head()

,reddit_flair,reddit_tb_polarity,reddit_tb_subjectivity,reddit_sid_pos,reddit_sid_neg,reddit_sid_neu,reddit_sid_com
date,,,,,,,
2021-01-31,-0.338142,0.142702,0.293933,0.08299,0.05331,0.86373,0.131805
2021-02-01,-0.365056,0.063796,0.367415,0.10325,0.04257,0.85412,0.227750
2021-02-02,-0.295277,0.062161,0.331665,0.07790,0.04630,0.87582,0.154349
2021-02-03,-0.201320,0.100217,0.345251,0.10249,0.03414,0.86335,0.264711
2021-02-04,-0.479910,0.093733,0.318363,0.10978,0.04115,0.84905,0.209472

In [18]:
reddit_df_grouped.count, bitcoin_df.count

(<bound method DataFrame.count of             reddit_flair  reddit_tb_polarity  reddit_tb_subjectivity  \
 date
 2021-01-31     -0.338142            0.142702                0.293933
 2021-02-01     -0.365056            0.063796                0.367415
 2021-02-02     -0.295277            0.062161                0.331665
 2021-02-03     -0.201320            0.100217                0.345251
 2021-02-04     -0.479910            0.093733                0.318363
 ...                  ...                 ...                     ...
 2022-01-27     -0.426416            0.041017                0.273642
 2022-01-28     -0.510252            0.057192                0.299165
 2022-01-29     -0.513946            0.102714                0.300672
 2022-01-30     -0.420973            0.083505                0.328413
 2022-01-31     -0.374635            0.062811                0.331144

             reddit_sid_pos  reddit_sid_neg  reddit_sid_neu  reddit_sid_com
 date
 2021-01-31        0.082990        0.053310        0.863730        0.131805
 2021-02-01        0.103250        0.042570        0.854120        0.227750
 2021-02-02        0.077900        0.046300        0.875820        0.154349
 2021-02-03        0.102490        0.034140        0.863350        0.264711
 2021-02-04        0.109780        0.041150        0.849050        0.209472
 ...                    ...             ...             ...             ...
 2022-01-27        0.092920        0.070040        0.837000        0.122236
 2022-01-28        0.108740        0.048031        0.843229        0.207484
 2022-01-29        0.095232        0.060737        0.844032        0.162518
 2022-01-30        0.117807        0.040364        0.841830        0.217486
 2022-01-31        0.080642        0.042663        0.876726        0.184561

 [366 rows x 7 columns]>,
 <bound method DataFrame.count of                     Open          High           Low         Close  \
 date
 2022-01-31  38465.162375  39210.262027  38103.138300  38761.968300
 2022-01-30  37913.239500  38669.258900  36692.124972  38472.006236
 2022-01-29  38161.929090  38287.754600  37412.248098  37937.339000
 2022-01-28  37741.928400  38577.996300  37369.209771  38131.823600
 2022-01-27  37062.964425  37929.944800  36168.927191  37784.722900
 ...                  ...           ...           ...           ...
 2021-02-04  36977.782665  38280.062918  36634.285663  37945.964474
 2021-02-03  37659.040572  38734.575564  36321.734428  36938.034865
 2021-02-02  35476.141807  37565.357809  35476.141807  37551.934351
 2021-02-01  33536.478066  35943.342299  33536.478066  35507.127709
 2021-01-31  33082.843766  34599.997674  32402.294129  33513.441196

                   Volume    Market Cap
 date
 2022-01-31  5.606411e+10  7.303744e+11
 2022-01-30  5.554980e+10  7.113510e+11
 2022-01-29  3.479342e+10  7.187560e+11
 2022-01-28  4.335900e+10  7.161947e+11
 2022-01-27  5.773464e+10  7.015914e+11
 ...                  ...           ...
 2021-02-04  1.001826e+11  6.995421e+11
 2021-02-03  9.505056e+10  6.983574e+11
 2021-02-02  8.935275e+10  6.800922e+11
 2021-02-01  8.675868e+10  6.455592e+11
 2021-01-31  8.977457e+10  6.271695e+11

 [366 rows x 6 columns]>)

In [21]:
# Make sure that they have the same order
reddit_df_grouped = reddit_df_grouped.sort_index(ascending=True)
bitcoin_df = bitcoin_df.sort_index(ascending=True)

In [23]:
reddit_df_grouped.head()

,reddit_flair,reddit_tb_polarity,reddit_tb_subjectivity,reddit_sid_pos,reddit_sid_neg,reddit_sid_neu,reddit_sid_com
date,,,,,,,
2021-01-31,-0.338142,0.142702,0.293933,0.08299,0.05331,0.86373,0.131805
2021-02-01,-0.365056,0.063796,0.367415,0.10325,0.04257,0.85412,0.227750
2021-02-02,-0.295277,0.062161,0.331665,0.07790,0.04630,0.87582,0.154349
2021-02-03,-0.201320,0.100217,0.345251,0.10249,0.03414,0.86335,0.264711
2021-02-04,-0.479910,0.093733,0.318363,0.10978,0.04115,0.84905,0.209472

In [24]:
bitcoin_df.head()

,Open,High,Low,Close,Volume,Market Cap
date,,,,,,
2021-01-31,33082.843766,34599.997674,32402.294129,33513.441196,8.977457e+10,6.271695e+11
2021-02-01,33536.478066,35943.342299,33536.478066,35507.127709,8.675868e+10,6.455592e+11
2021-02-02,35476.141807,37565.357809,35476.141807,37551.934351,8.935275e+10,6.800922e+11
2021-02-03,37659.040572,38734.575564,36321.734428,36938.034865,9.505056e+10,6.983574e+11
2021-02-04,36977.782665,38280.062918,36634.285663,37945.964474,1.001826e+11,6.995421e+11

In [25]:
# Merging the two dataframes
final_df = pd.merge(reddit_df_grouped, bitcoin_df, how='inner', left_index=True, right_index=True)

In [26]:
final_df.head()

,reddit_flair,reddit_tb_polarity,reddit_tb_subjectivity,reddit_sid_pos,reddit_sid_neg,reddit_sid_neu,reddit_sid_com,Open,High,Low,Close,Volume,Market Cap
date,,,,,,,,,,,,,
2021-01-31,-0.338142,0.142702,0.293933,0.08299,0.05331,0.86373,0.131805,33082.843766,34599.997674,32402.294129,33513.441196,8.977457e+10,6.271695e+11
2021-02-01,-0.365056,0.063796,0.367415,0.10325,0.04257,0.85412,0.227750,33536.478066,35943.342299,33536.478066,35507.127709,8.675868e+10,6.455592e+11
2021-02-02,-0.295277,0.062161,0.331665,0.07790,0.04630,0.87582,0.154349,35476.141807,37565.357809,35476.141807,37551.934351,8.935275e+10,6.800922e+11
2021-02-03,-0.201320,0.100217,0.345251,0.10249,0.03414,0.86335,0.264711,37659.040572,38734.575564,36321.734428,36938.034865,9.505056e+10,6.983574e+11
2021-02-04,-0.479910,0.093733,0.318363,0.10978,0.04115,0.84905,0.209472,36977.782665,38280.062918,36634.285663,37945.964474,1.001826e+11,6.995421e+11

In [27]:
# Making the dataframe into a csv so we can download it
final_df.to_csv('final_data_reddit_bitcoin.csv', index=True)

In [30]:
# Downloading the data locally so we won't lose it
files.download("final_data_reddit_bitcoin.csv")